version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: flaskdb
    ports:
      - "3306:3306"

  redis:
    image: redis:7.0
    ports:
      - "6379:6379"

<<<<<<< HEAD
  celery_worker:
    build: .
    command: celery -A make_celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

  celery_beat:
    build: .
    command: celery -A make_celery beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app
=======
  worker:
    build: .
    command: celery -A celery_app.celery_app worker --loglevel INFO
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  beat:
    build: .
    command: celery -A celery_app.celery_app beat --loglevel INFO
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
>>>>>>> 6cec868 (Migrations for new Models, Celery Integration)

